div.container {
  border: 1px solid white;
  background-color: white;
  margin-top: 30px;
  margin-bottom: 100px;
}

.link {
  margin-left: 10px;
}

img {
  float: left;
  padding: 20px;
  width: 200px;
}

/* Submit button for contact page */
input.btn {
  margin-left: 30px;
  margin-bottom: 20px;
  background-color: #4aaaa5;
  border: 1px solid #4aaaa5;
}

img.port-img {
  display: inline-block;
}

div.img-block div {
  position: relative;
  padding: 10px;
}

div.img-block div img {
  margin: 0;
  width: 100%;
  height: auto;
  padding: 0;
}

div.img-block div div.inner-div {
  position: relative; 
  width: 100%; 
  margin-right: 10px; 
  height: 100%;
}

/* Text on images for portfolio */
div.img-block div p.img-text {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  /* z-index: 20; */
  background-color: #4aaaa5;
  color: white;
  padding: 5px;
  text-align: center;
}

